<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.rezarasoulzadeh.zekr">

    <application
        android:allowBackup="true"
        android:icon="@drawable/zekr"
        android:label="@string/app_name"
        android:roundIcon="@drawable/zekr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".view.activity.WidgetActivity">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.WIDGET_BUTTON" />
                <action android:name="android.appwidget.action.ACTION_AUTO_UPDATE_WIDGET" />
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/zekr_activity_info" />
        </receiver>

        <activity
            android:name=".view.activity.WidgetHandlerActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>