<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.rezarasoulzadeh.zekraneh">

    <application
        android:allowBackup="true"
        android:icon="@drawable/zekr"
        android:label="@string/app_name"
        android:roundIcon="@drawable/zekr"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Tasbihat widget -->
        <receiver
            android:name=".view.activity.TasbihatActivity"
            android:label="@string/tasbihatLabel"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_for_tasbihat" />
        </receiver>

        <!-- Zekr widget -->
        <receiver
            android:name=".view.activity.ZekrActivity"
            android:label="@string/zekrLabel"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.WIDGET_BUTTON" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.ACTION_AUTO_UPDATE_WIDGET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_for_zekr" />
        </receiver>

        <!-- Salavat widget -->
        <receiver
            android:name=".view.activity.SalavatActivity"
            android:label="@string/slavatLabel"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.WIDGET_BUTTON" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.ACTION_AUTO_UPDATE_WIDGET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_for_salavat" />
        </receiver>

        <!-- Home activity -->
        <activity
            android:name=".view.activity.HomeActivity"
            android:fitsSystemWindows="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>